@charset "UTF-8";

.fs-56pt {
    font-size: 56pt !important;
}

.fs-36pt {
    font-size: 36pt !important;
}

.fs-26pt {
    font-size: 26pt !important;
}

.fs-16pt {
    font-size: 16pt !important;
}
