@charset "UTF-8";

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}


.fs-56pt {
    font-size: 56pt !important;
}

.fs-36pt {
    font-size: 36pt !important;
}

.fs-26pt {
    font-size: 26pt !important;
}

.fs-16pt {
    font-size: 16pt !important;
}

.fs-22pt {
    font-size: 22pt !important;
}
