@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat' !important;
}


.Centrail-One {
    font-family: 'Centrail One' !important;
}

.btn {
    border-radius: 0px;
}

.btn-dark {
    background-color: var(--black-bg);
    border: 1px groove var(--white-bg);
}

.btn-dark:hover {
    background-color: var(--white-bg);
    color: var(--black-bg);
}

.red-bg {
    background-color: var(--red-bg);
}

.btn-yellow {
    background-color: var(--yellow-bg);
}

.btn-yellow:hover {
    color: var(--white-bg);
    border: 1px solid var(--yellow-bg);
}

.yellow-bg {
    background-color: var(--yellow-bg);

}

.border-none {
    border: none !important;
}

.dropdown-item:hover {
    background-color: var(--red-bg);
    color: var(--white-bg);
}