@charset "UTF-8";

/* GENERAL SETTINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat-Italic' !important;
}

.Centrail-One {
    font-family: 'Centrail One' !important;
}


.btn {
    border-radius: 0px;
}

/* FIRST INDEX */
.btn-dark {
    background-color: var(--black-bg);
    border: 1px groove var(--white-bg);
}

.btn-dark:hover {
    background-color: var(--white-bg);
    color: var(--black-bg);
}


/* HEADER */
.red-bg {
    background-color: var(--red-bg);
}

.btn-yellow {
    background-color: var(--yellow-bg);
}

.btn-yellow:hover {
    color: var(--white-bg);
    border: 1px solid var(--yellow-bg);
}

.yellow-bg {
    background-color: var(--yellow-bg);

}

.border-none {
    border: none !important;
}

.dropdown-item:hover {
    background-color: var(--red-bg);
}

.border-white-1 {
    border: 1px solid var(--white-bg) !important;
}

/* INDEX */

#content {
    font-family: 'Lobster Bold';
}

#about-us-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imgs/jpgs/section_about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 250px 150px;
    color: var(--white-bg);
}

.small-box {
    font-family: 'Montserrat-Bold';
}

#about-us-section div > #div_about {
    padding: 20px 100px;
    border: 1px solid white;
}

#about-us-section div > #div_about p {
    font-family: 'Montserrat-Italic';
    letter-spacing: 1px;
}

#about-us-section div > #div_about p > mark {
    background-color: var(--yellow-bg);
}

#about-us-section div > #div_about a > .btn-red {
    background-color: var(--red-bg);
    color: var(--white-bg);
    border: none;
    margin-top: 20px;
    padding: 13px 40px;
}